.data-table-wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  gap: 4px;
  display: grid;
  grid-template-columns: 1fr;
}

.data-table-container {
  text-align: center;
  color: #4c3575;
}

.table-title {
  height: fit-content;
  overflow: auto;
}
.table-title h2 {
  font-size: 20px;
}
.search-bar {
  border: 2px solid var(--primary-color);
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: white;
}
.search-bar input {
  border: none;
  outline: none;
  background-color: transparent;
}

.data-table {
  width: 100%;
}
.data-table th,
.data-table td {
  color: black;
  font-size: 16px;
  padding: 0px 8px;
  text-align: center;
  text-wrap: nowrap;
}
.data-table tr {
  overflow: scroll;
}

.data-table thead tr th {
  color: #4c3575;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
}
.data-table thead tr th span {
  width: 100%;
  justify-content: center;
  text-align: center;
  padding: 4px;
}

.data-table th:hover {
  background-color: #e0e0f8;
}
.data-table tbody {
  justify-content: start;
  gap: 4px;
}
.data-table tbody tr {
  border-radius: 8px;
}
.data-table tbody tr:nth-child(odd) {
  background-color: var(--light-color);
}
.data-table tbody tr td {
  height: 40px;
}
.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 8px;
}
.pagination button {
  width: 32px;
  height: 32px;
  background-color: #ddd;
  border: none;
  color: #4c3575;
  font-size: 16px;
  font-weight: bold;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination button.active {
  background-color: #f16e3d;
  color: #fff;
}

.pagination button:disabled {
  background-color: #f0f0f0;
  color: #aaa;
  cursor: default;
}

.pagination button:focus {
  outline: 2px solid #4c3575;
}
