@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
:root {
    --primary-color: #2f6690;
    --secondary-color: #3a7ca5;
    --highlight-color: #FF6700;
    --dark-color: #16425b;
    --light-color:#81c3d7;
    --BG-color: #D9DCD6;
}
@font-face {
    font-family: 'Sukhumvit';
    src: url(./assets/Font/sukhumvit-set-font-family/SukhumvitSet-Medium.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sukhumvit';
    src: url(./assets/Font/sukhumvit-set-font-family/SukhumvitSet-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: bold;
}

*{
    font-family: 'Kanit', sans-serif; /* หรือเปลี่ยนเป็น Prompt, Sarabun */

}

h1{
    font-size: 34px;
    font-family: 'Unbounded', sans-serif;
}
h2{
    font-size: 24px;
    font-family: 'Unbounded', sans-serif;
}
h3{
    font-size: 20px;
    font-family: 'Unbounded', sans-serif;
}
h4{
    font-size: 16px;
    font-family: 'Sukhumvit', sans-serif;
}
p{
    font-size: 14px;
    font-family: 'Sukhumvit', sans-serif;
}

/* Mobile */

@media (max-width: 767px) {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
}