@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
:root {
    --primary-color: #2f6690;
    --secondary-color: #3a7ca5;
    --highlight-color: #FF6700;
    --dark-color: #16425b;
    --light-color:#81c3d7;
    --BG-color: #D9DCD6;
}


*{
    font-family: 'Kanit', sans-serif; /* หรือเปลี่ยนเป็น Prompt, Sarabun */

}

h1{
    font-size: 34px;
    font-weight: bold;
    font-family: 'Poppins';
}
h2{
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
h3{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
h4{
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}
p{
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
}

/* Mobile */

@media (max-width: 767px) {
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
}